<div class="welcome">
  <img class="welcome__icon" src="../../../assets/icons/Logo.svg" alt="Logo">

  <div class="content">
    <div class="content__left">
      <div class="content__title">
        <div class="content__title content__title_highlighted">Success!</div>
        Meowoof is installed
      </div>
      <div class="content__text">Now select the pets you like most — or all of them!</div>
    </div>
    <div class="content__right">
      <app-app-settings></app-app-settings>
    </div>
  </div>

  <div class="welcome__btn-container">
    <a href="https://en.wikipedia.org/wiki/Cats_%26_Dogs " class="welcome__continue">Into the wild</a>
  </div>
</div>
